@charset "utf-8";
#jzWebContainer{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:no-repeat;background-position:center center;}
#row227 {background-image:none;background-color:rgba(10, 10, 10, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row227  {border:8px solid #000;}
#row227 {padding-top:0.0%;}
#row227 {padding-right:12.4%;}
#row227 {padding-bottom:0.0%;}
#row227 {padding-left:12.4%;}
#row227 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row227 {padding-top:0.0%;}
#row227 {padding-right:0.0%;}
#row227 {padding-bottom:0.0%;}
#row227 {padding-left:0.0%;}
}
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
#row3 .jz_web_col0{padding:0;}
#row3 .jz_web_col1{padding:0;}
#row3 .jz_web_col1{background-image:none;background-color:rgba(10, 10, 10, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
@media screen and (max-width: 768px){
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
}
#row102 {background:rgba(38,38,38,1);}
#row102 {padding-top:3.657262277951933%;}
#row102 {padding-right:5.4858934169279%;}
#row102 {padding-bottom:3.918495297805643%;}
#row102 {padding-left:5.4858934169279%;}
#row102 .jz_web_col0{padding:0;}
#row102 .jz_web_col1{padding:0;}
#row102 .jz_web_col2{padding:0;}
@media screen and (max-width: 768px){
#row102 {padding-top:0.0%;}
#row102 {padding-right:0.0%;}
#row102 {padding-bottom:0.0%;}
#row102 {padding-left:0.0%;}
}
#row4 {background:rgba(38,38,38,1);}
#row4  {border:1px solid rgba(43,43,43,1);}
#row4  {border-right:none;}
#row4  {border-bottom:none;}
#row4  {border-left:none;}
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
#row4 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
}
#row233 {padding-top:0.0%;}
#row233 {padding-right:0.0%;}
#row233 {padding-bottom:0.0%;}
#row233 {padding-left:0.0%;}
#row233 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row233 {padding-top:0.0%;}
#row233 {padding-right:0.0%;}
#row233 {padding-bottom:0.0%;}
#row233 {padding-left:0.0%;}
}
#row232 {padding-top:0.0%;}
#row232 {padding-right:0.0%;}
#row232 {padding-bottom:0.0%;}
#row232 {padding-left:0.0%;}
#row232 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row232 {padding-top:0.0%;}
#row232 {padding-right:0.0%;}
#row232 {padding-bottom:0.0%;}
#row232 {padding-left:0.0%;}
}
#module9  .module_banner{display:none;}
#module9 {margin-top:0.0%;}
#module9 {margin-right:0.0%;}
#module9 {margin-bottom:0.0%;}
#module9 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module9  .module_banner{display:none;}
#module9 {margin-top:0.0%;}
#module9 {margin-right:0.0%;}
#module9 {margin-bottom:0.0%;}
#module9 {margin-left:0.0%;}
}
#module301  .module_banner{display:none;}
#module301 {margin-top:0.0%;}
#module301 {margin-right:0.0%;}
#module301 {margin-bottom:0.0%;}
#module301 {margin-left:0.0%;}
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
@media screen and (min-width: 769px){
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
}
@media screen and (max-width: 768px){
#module301  .module_banner{display:none;}
#module301 {margin-top:2.666%;}
#module301 {margin-right:3.733%;}
#module301 {margin-bottom:1.333%;}
#module301 {margin-left:3.733%;}
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
}
#module302  .module_banner{display:none;}
#module302 {margin-top:0.0%;}
#module302 {margin-right:0.0%;}
#module302 {margin-bottom:0.0%;}
#module302 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module302  .module_banner{display:none;}
#module302 {margin-top:2.666%;}
#module302 {margin-right:3.733%;}
#module302 {margin-bottom:1.333%;}
#module302 {margin-left:3.733%;}
}
#module303  .module_banner{display:none;}
#module303 {margin-top:0.0%;}
#module303 {margin-right:0.0%;}
#module303 {margin-bottom:0.0%;}
#module303 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module303  .module_banner{display:none;}
#module303 {margin-top:2.666%;}
#module303 {margin-right:3.733%;}
#module303 {margin-bottom:1.333%;}
#module303 {margin-left:3.733%;}
}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{min-width:120px;height:80px; line-height:80px;}
.jz_web_header .jz_nav_item{font-size:15px;font-family:微软雅黑;}
.jz_web_header .nav_item_septal{font-size:15px;}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {font-size:15px;font-family:微软雅黑;}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap{color:rgba(153,153,153,1);}
.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header  .jz_nav .jz_nav_item:hover .nav_item_text_wrap{color:rgba(239,65,54,1);}
.jz_web_header  .sub_nav_item_text_wrap,.jz_web_header  .three_nav_item_text_wrap{color:rgba(153,153,153,1);}
.jz_web_header  .jz_nav .sub_nav_list .jz_nav_item_selected .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .sub_nav_item:hover .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .three_nav_list .jz_nav_item_selected .three_nav_item_text_wrap, .jz_web_header  .jz_nav .three_nav_item:hover .three_nav_item_text_wrap{color:rgba(239,65,54,1);}
.jz_nav_wrap{margin-top:0.5988023952095809%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{}
.jz_web_header .jz_nav_item{font-size:14px;font-family:SimSun;}
.jz_web_header .nav_item_septal{font-size:14px;}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap{color:rgba(255, 255, 255, 1);}
.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header  .jz_nav .jz_nav_item:hover .nav_item_text_wrap{color:rgba(255, 255, 255, 1);}
.s_member_login{margin-top:2.34375%;}
.s_member_login{margin-right:38.4375%;}
.s_member_login{margin-bottom:0.0%;}
.s_member_login{margin-left:38.4375%;}
@font-face {
font-family: 'fontface__幼圆__7__648795288892';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8uyE8gUooJSwogc') format('truetype');
font-weight: normal;
font-style: normal;
}
@media screen and (min-width: 769px){
.jz_website_title_wrap{margin-top:0.6272401433691757%;}
.jz_website_title_wrap{margin-right:73.11827956989248%;}
.jz_website_title_wrap{margin-bottom:0.0%;}
.jz_website_title_wrap{margin-left:0.0%;}
#jz_website_title .logo_wrap{ width:86.0px;}
}
@media screen and (max-width: 768px){
#jz_website_title .logo_wrap{ width:30.0px;}
}
@media screen and (min-width: 769px){
.jz_banner .banner_pic { width:100.0%;}
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:42.02247191011236%;}
}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/4/ABUIABAEGAAg9Mq68QUoy_uz8QEwyQY42wM.png);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/2/ABUIABACGAAg_s268QUo9vXftgEwgQU42wI.jpg);background-size:cover;background-position: 50% 50%;}
@media screen and (max-width: 768px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:42.02247191011236%;}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/4/ABUIABAEGAAg9Mq68QUoy_uz8QEwyQY42wM.png);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/2/ABUIABACGAAg_s268QUo9vXftgEwgQU42wI.jpg);background-size:cover;background-position: 50% 50%;}
}
.g_header{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
.g_header__static .g_header_content{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
.g_footer{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
