@charset "utf-8";
#jzWebContainer{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:no-repeat;background-position:center center;}
#row101 {padding-top:10.18808777429467%;}
#row101 {padding-right:0.0%;}
#row101 {padding-bottom:19.101123595505616%;}
#row101 {padding-left:8.359456635318704%;}
#row101 .jz_web_col0{padding:0;}
#row101 .jz_web_col1{padding:0;}
@media screen and (max-width: 768px){
#row101 {padding-top:0.0%;}
#row101 {padding-right:0.0%;}
#row101 {padding-bottom:0.0%;}
#row101 {padding-left:0.0%;}
}
#row103 {background-image:none;background-color:rgba(10, 10, 10, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row103 {padding-top:0.0%;}
#row103 {padding-right:0.0%;}
#row103 {padding-bottom:8.464419475655431%;}
#row103 {padding-left:0.0%;}
#row103 .jz_web_col0{padding:0;}
#row103 .jz_web_col1{padding:0;}
#row103 .jz_web_col2{padding:0;}
#row103 .jz_web_col3{padding:0;}
@media screen and (max-width: 768px){
#row103 {padding-top:0.0%;}
#row103 {padding-right:0.0%;}
#row103 {padding-bottom:0.0%;}
#row103 {padding-left:0.0%;}
}
#row104 {padding-top:9.143155694879832%;}
#row104 {padding-right:8.359456635318704%;}
#row104 {padding-bottom:8.913857677902621%;}
#row104 {padding-left:8.359456635318704%;}
#row104 .jz_web_col0{padding:0;}
#row104 .jz_web_col1{padding:0;}
@media screen and (max-width: 768px){
#row104 {padding-top:0.0%;}
#row104 {padding-right:0.0%;}
#row104 {padding-bottom:0.0%;}
#row104 {padding-left:0.0%;}
}
#row105 {padding-top:0.0%;}
#row105 {padding-right:8.359456635318704%;}
#row105 {padding-bottom:11.233019853709509%;}
#row105 {padding-left:8.359456635318704%;}
#row105 .jz_web_col0{padding:0;}
#row105 .jz_web_col1{padding:0;}
#row105 .jz_web_col2{padding:0;}
@media screen and (max-width: 768px){
#row105 {padding-top:0.0%;}
#row105 {padding-right:0.0%;}
#row105 {padding-bottom:0.0%;}
#row105 {padding-left:0.0%;}
}
#row240 {padding-top:3.1347962382445136%;}
#row240 {padding-right:12.643678160919542%;}
#row240 {padding-bottom:3.1347962382445136%;}
#row240 {padding-left:12.64674493062967%;}
#row240 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row240 {padding-top:0.0%;}
#row240 {padding-right:0.0%;}
#row240 {padding-bottom:0.0%;}
#row240 {padding-left:0.0%;}
}
#row241 {padding-top:0.0%;}
#row241 {padding-right:12.38244514106583%;}
#row241 {padding-bottom:3.1347962382445136%;}
#row241 {padding-left:12.38244514106583%;}
#row241 .jz_web_col0{padding:0;}
#row241 .jz_web_col1{padding:0;}
#row241 .jz_web_col2{padding:0;}
@media screen and (max-width: 768px){
#row241 {padding-top:0.0%;}
#row241 {padding-right:0.0%;}
#row241 {padding-bottom:0.0%;}
#row241 {padding-left:0.0%;}
}
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
#row3 .jz_web_col0{padding:0;}
#row3 .jz_web_col1{padding:0;}
#row3 .jz_web_col1{background-image:none;background-color:rgba(10, 10, 10, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
@media screen and (max-width: 768px){
#row3 {padding-top:0.0%;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0%;}
#row3 {padding-left:0.0%;}
}
#row102 {background:rgba(38,38,38,1);}
#row102 {padding-top:3.657262277951933%;}
#row102 {padding-right:5.4858934169279%;}
#row102 {padding-bottom:3.918495297805643%;}
#row102 {padding-left:5.4858934169279%;}
#row102 .jz_web_col0{padding:0;}
#row102 .jz_web_col1{padding:0;}
#row102 .jz_web_col2{padding:0;}
@media screen and (max-width: 768px){
#row102 {padding-top:0.0%;}
#row102 {padding-right:0.0%;}
#row102 {padding-bottom:0.0%;}
#row102 {padding-left:0.0%;}
}
#row4 {background:rgba(38,38,38,1);}
#row4  {border:1px solid rgba(43,43,43,1);}
#row4  {border-right:none;}
#row4  {border-bottom:none;}
#row4  {border-left:none;}
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
#row4 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row4 {padding-top:0.0%;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0%;}
#row4 {padding-left:0.0%;}
}
#row233 {padding-top:0.0%;}
#row233 {padding-right:0.0%;}
#row233 {padding-bottom:0.0%;}
#row233 {padding-left:0.0%;}
#row233 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row233 {padding-top:0.0%;}
#row233 {padding-right:0.0%;}
#row233 {padding-bottom:0.0%;}
#row233 {padding-left:0.0%;}
}
#row232 {padding-top:0.0%;}
#row232 {padding-right:0.0%;}
#row232 {padding-bottom:0.0%;}
#row232 {padding-left:0.0%;}
#row232 .jz_web_col0{padding:0;}
@media screen and (max-width: 768px){
#row232 {padding-top:0.0%;}
#row232 {padding-right:0.0%;}
#row232 {padding-bottom:0.0%;}
#row232 {padding-left:0.0%;}
}
#module307  .module_banner{display:none;}
#module307 {margin-top:0.0%;}
#module307 {margin-right:0.0%;}
#module307 {margin-bottom:0.0%;}
#module307 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module307  .module_banner{display:none;}
#module307 {margin-top:2.666%;}
#module307 {margin-right:3.733%;}
#module307 {margin-bottom:1.333%;}
#module307 {margin-left:3.733%;}
}
#module305  .module_banner{display:none;}
#module305 {margin-top:0.0%;}
#module305 {margin-right:0.0%;}
#module305 {margin-bottom:0.0%;}
#module305 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module305  .module_banner{display:none;}
#module305 {margin-top:2.666%;}
#module305 {margin-right:3.733%;}
#module305 {margin-bottom:1.333%;}
#module305 {margin-left:3.733%;}
}
#module306  .module_banner{display:none;}
#module306 {margin-top:5.555555555555555%;}
#module306 {margin-right:33.33333333333333%;}
#module306 {margin-bottom:0.0%;}
#module306 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module306  .module_banner{display:none;}
#module306 {margin-top:2.666%;}
#module306 {margin-right:3.733%;}
#module306 {margin-bottom:1.333%;}
#module306 {margin-left:3.733%;}
}
#module304  .module_banner{display:none;}
#module304 {margin-top:0.0%;}
#module304 {margin-right:0.0%;}
#module304 {margin-bottom:0.0%;}
#module304 {margin-left:19.11764705882353%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module304  .module_banner{display:none;}
#module304 {margin-top:2.666%;}
#module304 {margin-right:12.8%;}
#module304 {margin-bottom:1.333%;}
#module304 {margin-left:12.8%;}
}
#module309  .module_banner{display:none;}
#module309 {margin-top:0.0%;}
#module309 {margin-right:0.0%;}
#module309 {margin-bottom:0.0%;}
#module309 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module309  .module_banner{display:none;}
#module309 {margin-top:2.666%;}
#module309 {margin-right:3.733%;}
#module309 {margin-bottom:1.333%;}
#module309 {margin-left:3.733%;}
}
#module310  .module_banner{display:none;}
#module310 {margin-top:0.0%;}
#module310 {margin-right:0.0%;}
#module310 {margin-bottom:0.0%;}
#module310 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module310  .module_banner{display:none;}
#module310 {margin-top:2.666%;}
#module310 {margin-right:3.733%;}
#module310 {margin-bottom:1.333%;}
#module310 {margin-left:3.733%;}
}
#module311  .module_banner{display:none;}
#module311 {margin-top:0.0%;}
#module311 {margin-right:0.0%;}
#module311 {margin-bottom:0.0%;}
#module311 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module311  .module_banner{display:none;}
#module311 {margin-top:2.666%;}
#module311 {margin-right:3.733%;}
#module311 {margin-bottom:1.333%;}
#module311 {margin-left:3.733%;}
}
#module312  .module_banner{display:none;}
#module312 {margin-top:0.0%;}
#module312 {margin-right:0.0%;}
#module312 {margin-bottom:0.0%;}
#module312 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module312  .module_banner{display:none;}
#module312 {margin-top:2.666%;}
#module312 {margin-right:3.733%;}
#module312 {margin-bottom:1.333%;}
#module312 {margin-left:3.733%;}
}
#module317  .module_banner{display:none;}
#module317 {margin-top:0.0%;}
#module317 {margin-right:0.0%;}
#module317 {margin-bottom:0.0%;}
#module317 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module317  .module_banner{display:none;}
#module317 {margin-top:2.666%;}
#module317 {margin-right:3.733%;}
#module317 {margin-bottom:1.333%;}
#module317 {margin-left:3.733%;}
}
#module318  .module_banner{display:none;}
#module318 {margin-top:5.575539568345324%;}
#module318 {margin-right:0.0%;}
#module318 {margin-bottom:0.0%;}
#module318 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module318  .module_banner{display:none;}
#module318 {margin-top:2.666%;}
#module318 {margin-right:3.733%;}
#module318 {margin-bottom:1.333%;}
#module318 {margin-left:3.733%;}
}
#module320  .module_banner{display:none;}
#module320 {margin-top:0.0%;}
#module320 {margin-right:0.0%;}
#module320 {margin-bottom:0.0%;}
#module320 {margin-left:7.026348808030113%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module320  .module_banner{display:none;}
#module320 {margin-top:2.666%;}
#module320 {margin-right:3.733%;}
#module320 {margin-bottom:1.333%;}
#module320 {margin-left:3.733%;}
}
#module319  .module_banner{display:none;}
#module319 {margin-top:20.863309352517987%;}
#module319 {margin-right:4.856115107913669%;}
#module319 {margin-bottom:0.0%;}
#module319 {margin-left:6.115107913669065%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module319  .module_banner{display:none;}
#module319 {margin-top:2.666%;}
#module319 {margin-right:14.933333333333335%;}
#module319 {margin-bottom:1.333%;}
#module319 {margin-left:15.733333333333333%;}
}
#module321  .module_banner{display:none;}
#module321 {margin-top:18.546365914786968%;}
#module321 {margin-right:0.0%;}
#module321 {margin-bottom:0.0%;}
#module321 {margin-left:14.536340852130325%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module321  .module_banner{display:none;}
#module321 {margin-top:2.666%;}
#module321 {margin-right:3.733%;}
#module321 {margin-bottom:1.333%;}
#module321 {margin-left:3.733%;}
}
#module323  .module_banner{display:none;}
#module323 {margin-top:7.518796992481203%;}
#module323 {margin-right:0.0%;}
#module323 {margin-bottom:0.0%;}
#module323 {margin-left:14.536340852130325%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module323  .module_banner{display:none;}
#module323 {margin-top:2.666%;}
#module323 {margin-right:3.733%;}
#module323 {margin-bottom:1.333%;}
#module323 {margin-left:3.733%;}
}
#module326  .module_banner{display:none;}
#module326 {margin-top:23.741007194244602%;}
#module326 {margin-right:1.4388489208633095%;}
#module326 {margin-bottom:0.0%;}
#module326 {margin-left:12.949640287769784%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module326  .module_banner{display:none;}
#module326 {margin-top:2.666%;}
#module326 {margin-right:3.733%;}
#module326 {margin-bottom:1.333%;}
#module326 {margin-left:3.733%;}
}
#module327  .module_banner{display:none;}
#module327 {margin-top:13.66906474820144%;}
#module327 {margin-right:0.0%;}
#module327 {margin-bottom:0.0%;}
#module327 {margin-left:14.388489208633093%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module327  .module_banner{display:none;}
#module327 {margin-top:2.666%;}
#module327 {margin-right:3.733%;}
#module327 {margin-bottom:1.333%;}
#module327 {margin-left:3.733%;}
}
#module372  .module_banner{display:none;}
#module372 {margin-top:18.796992481203006%;}
#module372 {margin-right:0.0%;}
#module372 {margin-bottom:0.0%;}
#module372 {margin-left:18.546365914786968%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module372  .module_banner{display:none;}
#module372 {margin-top:2.666%;}
#module372 {margin-right:3.733%;}
#module372 {margin-bottom:1.333%;}
#module372 {margin-left:3.733%;}
}
#module325  .module_banner{display:none;}
#module325 {margin-top:7.518796992481203%;}
#module325 {margin-right:0.0%;}
#module325 {margin-bottom:0.0%;}
#module325 {margin-left:18.546365914786968%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module325  .module_banner{display:none;}
#module325 {margin-top:2.666%;}
#module325 {margin-right:3.733%;}
#module325 {margin-bottom:1.333%;}
#module325 {margin-left:3.733%;}
}
#module373  .module_banner{display:none;}
#module373 {margin-top:35.338345864661655%;}
#module373 {margin-right:17.042606516290725%;}
#module373 {margin-bottom:0.0%;}
#module373 {margin-left:18.295739348370926%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module373  .module_banner{display:none;}
#module373 {margin-top:2.666%;}
#module373 {margin-right:3.733%;}
#module373 {margin-bottom:1.333%;}
#module373 {margin-left:3.733%;}
}
#module329  .module_banner{display:none;}
#module329 {margin-top:0.0%;}
#module329 {margin-right:2.877697841726619%;}
#module329 {margin-bottom:0.0%;}
#module329 {margin-left:15.827338129496402%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module329  .module_banner{display:none;}
#module329 {margin-top:2.666%;}
#module329 {margin-right:3.733%;}
#module329 {margin-bottom:1.333%;}
#module329 {margin-left:3.733%;}
}
#module381  .module_banner{display:none;}
#module381 {margin-top:0.0%;}
#module381 {margin-right:0.0%;}
#module381 {margin-bottom:0.0%;}
#module381 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module381  .module_banner{display:none;}
#module381 {margin-top:2.666%;}
#module381 {margin-right:3.733%;}
#module381 {margin-bottom:1.333%;}
#module381 {margin-left:3.733%;}
}
#module383  .module_banner{display:none;}
#module383 {margin-top:13.134328358208954%;}
#module383 {margin-right:11.641791044776118%;}
#module383 {margin-bottom:0.0%;}
#module383 {margin-left:13.432835820895523%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module383  .module_banner{display:none;}
#module383 {margin-top:2.666%;}
#module383 {margin-right:3.733%;}
#module383 {margin-bottom:1.333%;}
#module383 {margin-left:3.733%;}
}
#module378  .module_banner{display:none;}
#module378 {margin-top:8.656716417910449%;}
#module378 {margin-right:0.0%;}
#module378 {margin-bottom:0.0%;}
#module378 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module378  .module_banner{display:none;}
#module378 {margin-top:2.666%;}
#module378 {margin-right:3.733%;}
#module378 {margin-bottom:1.333%;}
#module378 {margin-left:3.733%;}
}
#module382  .module_banner{display:none;}
#module382 {margin-top:12.835820895522387%;}
#module382 {margin-right:12.835820895522387%;}
#module382 {margin-bottom:0.0%;}
#module382 {margin-left:12.835820895522387%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module382  .module_banner{display:none;}
#module382 {margin-top:2.666%;}
#module382 {margin-right:3.733%;}
#module382 {margin-bottom:1.333%;}
#module382 {margin-left:3.733%;}
}
#module379  .module_banner{display:none;}
#module379 {margin-top:8.791208791208792%;}
#module379 {margin-right:0.0%;}
#module379 {margin-bottom:0.0%;}
#module379 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module379  .module_banner{display:none;}
#module379 {margin-top:2.666%;}
#module379 {margin-right:3.733%;}
#module379 {margin-bottom:1.333%;}
#module379 {margin-left:3.733%;}
}
#module377  .module_banner{display:none;}
#module377 {margin-top:13.432835820895523%;}
#module377 {margin-right:11.044776119402986%;}
#module377 {margin-bottom:0.0%;}
#module377 {margin-left:12.53731343283582%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module377  .module_banner{display:none;}
#module377 {margin-top:2.666%;}
#module377 {margin-right:3.733%;}
#module377 {margin-bottom:1.333%;}
#module377 {margin-left:3.733%;}
}
#module380  .module_banner{display:none;}
#module380 {margin-top:6.865671641791045%;}
#module380 {margin-right:0.0%;}
#module380 {margin-bottom:0.0%;}
#module380 {margin-left:0.2985074626865672%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module380  .module_banner{display:none;}
#module380 {margin-top:2.666%;}
#module380 {margin-right:3.733%;}
#module380 {margin-bottom:1.333%;}
#module380 {margin-left:3.733%;}
}
#module301  .module_banner{display:none;}
#module301 {margin-top:0.0%;}
#module301 {margin-right:0.0%;}
#module301 {margin-bottom:0.0%;}
#module301 {margin-left:0.0%;}
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
@media screen and (min-width: 769px){
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
}
@media screen and (max-width: 768px){
#module301  .module_banner{display:none;}
#module301 {margin-top:2.666%;}
#module301 {margin-right:3.733%;}
#module301 {margin-bottom:1.333%;}
#module301 {margin-left:3.733%;}
@font-face {
font-family: 'fontface__黑体__2__844979514330';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8eyE8gUopqWqpQM') format('truetype');
font-weight: normal;
font-style: normal;
}
}
#module302  .module_banner{display:none;}
#module302 {margin-top:0.0%;}
#module302 {margin-right:0.0%;}
#module302 {margin-bottom:0.0%;}
#module302 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module302  .module_banner{display:none;}
#module302 {margin-top:2.666%;}
#module302 {margin-right:3.733%;}
#module302 {margin-bottom:1.333%;}
#module302 {margin-left:3.733%;}
}
#module303  .module_banner{display:none;}
#module303 {margin-top:0.0%;}
#module303 {margin-right:0.0%;}
#module303 {margin-bottom:0.0%;}
#module303 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module303  .module_banner{display:none;}
#module303 {margin-top:2.666%;}
#module303 {margin-right:3.733%;}
#module303 {margin-bottom:1.333%;}
#module303 {margin-left:3.733%;}
}
.jz_nav_wrap{margin-top:0.0%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{min-width:120px;height:80px; line-height:80px;}
.jz_web_header .jz_nav_item{font-size:15px;font-family:微软雅黑;}
.jz_web_header .nav_item_septal{font-size:15px;}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {font-size:15px;font-family:微软雅黑;}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap{color:rgba(153,153,153,1);}
.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header  .jz_nav .jz_nav_item:hover .nav_item_text_wrap{color:rgba(239,65,54,1);}
.jz_web_header  .sub_nav_item_text_wrap,.jz_web_header  .three_nav_item_text_wrap{color:rgba(153,153,153,1);}
.jz_web_header  .jz_nav .sub_nav_list .jz_nav_item_selected .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .sub_nav_item:hover .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .three_nav_list .jz_nav_item_selected .three_nav_item_text_wrap, .jz_web_header  .jz_nav .three_nav_item:hover .three_nav_item_text_wrap{color:rgba(239,65,54,1);}
.jz_nav_wrap{margin-top:0.5988023952095809%;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0%;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_item{}
.jz_web_header .jz_nav_item{font-size:14px;font-family:SimSun;}
.jz_web_header .nav_item_septal{font-size:14px;}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap{color:rgba(255, 255, 255, 1);}
.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header  .jz_nav .jz_nav_item:hover .nav_item_text_wrap{color:rgba(255, 255, 255, 1);}
.s_member_login{margin-top:2.34375%;}
.s_member_login{margin-right:38.4375%;}
.s_member_login{margin-bottom:0.0%;}
.s_member_login{margin-left:38.4375%;}
@font-face {
font-family: 'fontface__幼圆__7__648795288892';
src: url('https://21656392.s21i.faiusr.com/76/ABUIyOapChBMGAAg8uyE8gUooJSwogc') format('truetype');
font-weight: normal;
font-style: normal;
}
@media screen and (min-width: 769px){
.jz_website_title_wrap{margin-top:0.6272401433691757%;}
.jz_website_title_wrap{margin-right:73.11827956989248%;}
.jz_website_title_wrap{margin-bottom:0.0%;}
.jz_website_title_wrap{margin-left:0.0%;}
#jz_website_title .logo_wrap{ width:86.0px;}
}
@media screen and (max-width: 768px){
#jz_website_title .logo_wrap{ width:30.0px;}
}
@media screen and (min-width: 769px){
.jz_banner .banner_pic { width:100.0%;}
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:42.02247191011236%;}
}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/4/ABUIABAEGAAg9Mq68QUoy_uz8QEwyQY42wM.png);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/2/ABUIABACGAAg_s268QUo9vXftgEwgQU42wI.jpg);background-size:cover;background-position: 50% 50%;}
@media screen and (max-width: 768px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:42.02247191011236%;}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/4/ABUIABAEGAAg9Mq68QUoy_uz8QEwyQY42wM.png);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(https://21656392.s21i.faiusr.com/2/ABUIABACGAAg_s268QUo9vXftgEwgQU42wI.jpg);background-size:cover;background-position: 50% 50%;}
}
.g_header{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
.g_header__static .g_header_content{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
.g_footer{background-image:none;background-color:rgba(10, 10, 10, 1);background-repeat:repeat;background-position:top left;}
